/* reset defult styling and set font to Bangers */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bangers', cursive;
}

body {
  overflow-x: hidden;
  background-image: url('../images/backgroundimagetwo.png');
  background-position: top;
  background-size: 90%;
}

/* Defult link color */
a {
  color: inherit;
}

/* Wrapping the content in order to center */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for table */
table {
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  border-radius: 10px;
  text-align: center;
}

/* Styling for the caption */
caption {
  color: white;
  margin-bottom: 7px;
  font-size: 32px;
  font-family: 'Press Start 2P', cursive;
}

/* Table headers styling */
th {
  font-family: 'Press Start 2P', cursive;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px 17px;
  color: rgb(0, 255, 38);
}
/* Table data styling */
th,
td {
  font-family: 'Press Start 2P', cursive;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0 1px 1px 0;
  border-style: solid;
}
/* Styling for first and last child of table */
th:first-child {
  border-top-left-radius: 5px;
}
th:last-child {
  border-top-right-radius: 5px;
  border-right: none;
}
th:first-child,
td:first-child {
  padding: 7px 8px;
}

td {
  padding: 7px 20px;
  background: rgb(0, 0, 0);
}

/* Changing color and font weight for different rows */
.first td {
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: rgb(242, 185, 0);
}
.second td {
  color: rgb(254, 0, 0);
}
.third,
td:nth-child(odd) {
  color: rgb(254, 178, 0);
}

.fourth td {
  color: rgb(254, 178, 0);
}
.fifth td {
  color: rgb(250, 254, 0);
}
.sixth td {
  color: rgb(250, 254, 0);
}
.seventh,
td:nth-child(even) {
  color: rgb(4, 254, 0);
}
.eighth td {
  color: rgb(4, 254, 0);
}
.ninth td {
  color: rgb(0, 13, 254);
}
.tenth td {
  color: rgb(0, 13, 254);
}

tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
tr td:last-child {
  border-right: none;
}
